<div class= "center hero-unit">
    <h1>欢迎访问选课系统</h1>
    
   
    <%= link_to "浏览所有课程", public_list_courses_path, class: "btn btn-large btn-primary"%>
</div>
<%= link_to image_tag("http://www.lagou.com/image1/M00/00/49/Cgo8PFTUXOmAOcEhAAB3tO2cKds749.png", alt:"Rails"), 'http://rubyonrails.org/'%>