
<div class="col-md-10">
  <p>
<h4>教学目的要求</h4>
<p class="text-left">本课程为计算机科学与技术学科研究生的专业核心课。本课程重点论述计算机系统的各种基本结构、设计技术和性能分析方法。课程的目的及任务是：使学生通过本课程的学习，了解计算机系统的各种基本结构，掌握在计算机设计的各个环节中影响性能的因素，以及提高性能的各种理论和方法，并通过定量分析技术为设计的整体和局部的性能进行科学评价。 
<h5>预修课程</h5>
<p class="text-left">计算机组成原理、操作系统</p>
<p class="text-left">教材
<p class="text-left">胡伟武等著，《计算机体系结构》，清华大学出版社</p>
<p class="text-left">主要内容
<p class="text-left">第一章 计算机系统结构基础 
<p class="text-left">1.1 计算机的基本概念 
<p class="text-left">1.2 影响计算机设计的主要因素及其发展趋势 
<p class="text-left">1.3 计算机重要指标 
<p class="text-left">1.4 我国计算机发展历史 
<p class="text-left">
<p class="text-left">第二章 二进制与逻辑电路 
<p class="text-left">2.1 计算机中数的表示 
<p class="text-left">2.2 CMOS门电路及工艺 
<p class="text-left">2.3 CMOS组合逻辑与时序逻辑 
<p class="text-left">2.4 CMOS电路延迟 
<p class="text-left">2.5 从Verilog到GDSII 
<p class="text-left">2.6 其它“0”和“1”表示方法 
<p class="text-left">
<p class="text-left">第三章 指令系统结构 
<p class="text-left">3.1 指令系统结构的设计原则 
<p class="text-left">3.2 影响指令系统结构的因素 
<p class="text-left">3.3 指令系统的分类 
<p class="text-left">3.4 指令系统的组成部分 
<p class="text-left">3.5 RISC指令系统结构 
<p class="text-left">3.6 RISC系统结构的简史 
<p class="text-left">3.7 不同RISC结构的比较 
<p class="text-left">
<p class="text-left">第四章 静态流水线 
<p class="text-left">4.1 一个简单的RISC CPU 
<p class="text-left">4.2 指令流水线 
<p class="text-left">4.3 指令相关与流水冲突 
<p class="text-left">4.4 流水线的前递技术 
<p class="text-left">4.5 例外与流水线 
<p class="text-left">4.6 多功能部件及多拍操作 
<p class="text-left">
<p class="text-left">第五章 动态调度流水线 
<p class="text-left">5.1 影响流水线效率的因素 
<p class="text-left">5.2 指令调度技术 
<p class="text-left">5.3 动态调度技术 
<p class="text-left">5.4 Tomasulo算法 
<p class="text-left">5.5 动态流水线的精确例外处理 
<p class="text-left">
<p class="text-left">第六章 多发射数据通路 
<p class="text-left">6.1 乱序执行的关键技术 
<p class="text-left">6.2 动态调度流水线数据通路 
<p class="text-left">6.3 常见处理器的数据通路 
<p class="text-left">6.4 多发射结构数据通路 
<p class="text-left">6.5 龙芯2号多发射结构简介 
<p class="text-left">
<p class="text-left">第七章 转移预测 
<p class="text-left">7.1 转移指令 
<p class="text-left">7.2 程序的转移行为 
<p class="text-left">7.3 软件方法解决控制相关 
<p class="text-left">7.4 硬件动态转移预测 
<p class="text-left">7.5 常见处理器的转移猜测 
<p class="text-left">
<p class="text-left">第八章 功能部件 
<p class="text-left">8.1 ALU设计 
<p class="text-left">8.2 龙芯1号ALU设计 
<p class="text-left">8.3 定点补码乘法器的设计 
<p class="text-left">
<p class="text-left">第九章 高速缓存 
<p class="text-left">9.1 存储层次的基本概念 
<p class="text-left">9.2 Cache结构 
<p class="text-left">9.3 Cache性能优化 
<p class="text-left">9.4 常见处理器的存储层次 
<p class="text-left">
<p class="text-left">第十章 存储管理 
<p class="text-left">10.1 虚拟存储的基本原理 
<p class="text-left">10.2 MIPS处理器对虚存系统的支持 
<p class="text-left">10.3 LINUX操作系统的存储管理 
<p class="text-left">
<p class="text-left">第十一章 多处理器 
<p class="text-left">11.1 消息传递与共享存储 
<p class="text-left">11.2 常见的共享存储系统 
<p class="text-left">11.3 共享存储系统的指令相关 
<p class="text-left">11.4 共享存储系统的访存事件次序 
<p class="text-left">11.5 存储一致性模型 
<p class="text-left">11.6 CACHE一致性协议
<p class="text-left">参考文献
<p class="text-left">1. 计算机体系结构：量化研究方法 (英文版.第4版)  
<p class="text-left">2. John L. Hennessy，David A. Patterson ，《Computer Architecture: A Quantitative Approach （Fourth Edition）》，机械工业出版社

<p class="text-left">课程教师信息


<p class="text-left">胡伟武，男，汉族，中国科学院研究生院计算机系统结构专业毕业，博士研究生学历，工学博士，研究员，博士生导师。</p>
 <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "huweiwu.png" %>
 </div>

<p class="text-left">现任中国科学院计算技术研究所研究员，“龙芯1号”研制组组长，全国青联委员，第十一届全国人大代表（湖南）。

<p class="text-left">主要研究方向

<p class="text-left">　　微处理器设计、计算机系统结构、集成电路设计等。
<p class="text-left">主持的科研项目

<p class="text-left">　　1、“四核龙芯通用CPU研制”,国家863重点项目，负责人，2008.1-2010.12

<p class="text-left">　　2、“计算机系统结构”,国家杰出青年基金，负责人，2004.1-2007.12

<p class="text-left">　　3、“高性能多核CPU结构设计及原型系统研究”，中科院知识创新工程方向性项目，负责人，2007.1-2007.12

<p class="text-left">　　4、“龙芯2号增强型处理器芯片设计”,国家863项目，负责人，2005.5-2005.12

<p class="text-left">　　5、“高性能通用CPU芯片全定制实现及系统集成”，国家863项目，负责人，2002.10-2004.6
　　    </p>
</div>