
<div class="col-md-10">
  <p>
<h4>教学目的要求</h4>
<p class="text-left">本课程为计算机学科研究生的专业核心课。本课程讲授和讨论计算机网络前沿研究领域的主要思想和关键技术。主要内容有TCP/IP协议栈、路由算法、网络测量和分析、内容分发网络、SDN/NFV、未来互联网体系结构等。 
通过本课程的学习，希望学生能了解网络体系结构和协议前沿研究领域，了解网络体系结构理论、系统实现与新型业务最新研究成果，掌握基本思想和关键技术，培养学生在网络协议、算法方面的研究能力。 

<h5>预修课程</h5>
<p class="text-left">程序设计、数据结构</p>
<p class="text-left">教材
<p class="text-left">Larry L. Peterson‪, Bruce S. Davie, Computer Networks: A Systems Approach (5e)‬‬‬‬‬‬ </p>
<p class="text-left">主要内容
<p class="text-left">第一章 网络基础：网络概述（3学时） 
<p class="text-left"> 1.1	课程介绍 
<p class="text-left"> 1.2	计算机网络概述 
<p class="text-left">
<p class="text-left">第二章 网络基础：物理层（3学时） 
<p class="text-left"> 2.1 Ethernet 
<p class="text-left"> 2.2 WiFi 
<p class="text-left"> 2.3 cellular Network 
<p class="text-left">
<p class="text-left">第三章 网络基础：路由协议（6学时） 
<p class="text-left"> 3.1 IPv4/6 
<p class="text-left"> 3.2 ISIS、OSPF、BGP等路由协议 
<p class="text-left"> 3.3 移动IP 
<p class="text-left"> 
<p class="text-left">第四章 网络基础：传输层与应用层（6学时） 
<p class="text-left"> 4.1 TCP/UDP协议 
<p class="text-left"> 4.2 应用协议(DNS/HTTP等) 
<p class="text-left"> 4.3 协议栈实现 
<p class="text-left"> 
<p class="text-left">第五章 网络基础：服务质量（6学时） 
<p class="text-left"> 5.1 服务质量保障机制 
<p class="text-left"> 5.2 流量工程 
<p class="text-left"> 
<p class="text-left">第六章 网络基础：网络安全（3学时） 
<p class="text-left"> 6.1网络攻击原理与检测方法 
<p class="text-left"> 6.2 IPSec、TLS 
<p class="text-left"> 6.3 防火墙等访问控制 
<p class="text-left"> 6.4 加密、身份验证、隐私保护 
<p class="text-left"> 
<p class="text-left">第七章 网络专题：路由协议实现（6学时） 
<p class="text-left"> 7.1 路由器体系结构 
<p class="text-left"> 7.2 路由查找算法 
<p class="text-left"> 7.3 路由器队列管理 
<p class="text-left"> 7.4 路由器协议栈实现 
<p class="text-left">参考文献
<p class="text-left"> 1. Proceedings of ACM SIGCOMM 
<p class="text-left"> 2. Proceedings of NSDI 

<p class="text-left">课程教师信息


<p class="text-left">谢高岗，男，博士，1974年7月出生，浙江衢州太真乡溪滩村人。2002年毕业于湖南大学计算机与通信学院，获工学博士学位。获FFCSA博士后基金，在法国国家计算机与自动化研究所（INRIA）进行博士后研究。现为中国科学院计算技术研究所下一代互联网研究中心副主任、研究员，硕士生导师，博士生导师，计算机专家，中国计算机学会容错计算专业委员会委员，中国计算机学会高级会员，中国计算机学会容错计算专业委员会委员，IEEE Member。MSN 2006，ISCIT 2007，MSN 2007，ICC 2008、AAC 2008、ICSC 2008等国际会议技术程序委员会委员。</p>
 <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "xiegaogang.png" %>
 </div>
<p class="text-left">研究方向
<p class="text-left">下一代互联网：高速网络体系结构，IPv6与高性能路由器关键技术；

<p class="text-left">网络测试与测量：协议一致性与性能测试理论、方法及测试系统，电信级IP网络测试、管理与业务保障，网络行为模型。

<p class="text-left">主要在研项目
<p class="text-left">P2P网络资源定位研究，国家自然科学基金资助项目，批准号：60403031 (2005/01～2007/12)

<p class="text-left">基于端系统的网络在线测量理论与方法研究 国家自然科学基金资助项目，批准号：60273070 (2003/01－2005/12)

<p class="text-left">IPv6路由协议一致性测试系统 [Navtel (Canada) Inc资助] (2004/03～2005/05)
　　    </p>
</div>