
<div class="col-md-10">
  <p>
<h4>教学目的要求</h4>
<p class="text-left">本课程教学要求： </p>
<p class="text-left">1. 要求学生了解世界历史文化名城的基本概念； 
<p class="text-left">2. 建立城市历史文化保护与传承的基本观念，提高欣赏和品读城市的艺术和技术水平； 
<p class="text-left">3. 了解城市历史街区和珍贵建筑文化遗产的保护与更新理论常识； 
<p class="text-left">4. 熟悉罗马、威尼斯、北京等名城保护的方法； 
<h5>预修课程</h5>
<p class="text-left">教材
<p class="text-left">主要内容
<p class="text-left">上篇：历史文化名城基本知识（18学时） 
<p class="text-left">第一章 历史文化名城概念解析（4学时） 
<p class="text-left">  通过世界上各个国家对历史文化名城概念定义的不同，解读各个国家的文化差异与历史观的区别。明确我国历史文化名城保护与更新的基本原则、立场，了解我国历史文化名城保护的基本情况。 
<p class="text-left">第二章 西方古典建筑史及其相关理论（8学时） 
<p class="text-left">  着重介绍西方古代建筑史，从古希腊、古罗马、哥特、拜赞庭等不同历史时期和不同建筑型制的角度，普及建筑学基础理论知识，并以案例（雅典卫城、圣索菲亚大教堂、威尼斯广场等）的形式介绍西方古典建筑的保护与更新方法。 
<p class="text-left">第三章 中国古典建筑史及其相关理论（6学时） 
<p class="text-left">  着重介绍中国古代建筑史，从城市、建筑、园林等不同的角度，普及建筑学基础理论知识，并以案例的形式介绍中国古典建筑。 

<p class="text-left">下篇：历史文化名城案例赏析（12学时） 
<p class="text-left">第四章 威尼斯（2学时） 
<p class="text-left">  本章重点介绍威尼斯，包括威尼斯的结构秩序，建设时间，平面布局，重要建筑，建筑艺术特色，保护与更新方法。 
<p class="text-left">第五章 罗马（2学时） 
<p class="text-left">  本章重点介绍罗马城市历史沿革，重要的公共空间，城市结构秩序，重要建筑，建筑艺术特色，保护与更新方法。 
<p class="text-left">第六章 东京（2学时） 
<p class="text-left">  本章重点介绍东京的城市历史沿革，重要的公共空间，城市结构秩序，重要建筑，建筑艺术特色，保护与更新方法。 
<p class="text-left">第七章 纽约（2学时） 
<p class="text-left">  本章重点介纽约的城市历史沿革，重要的公共空间，城市结构秩序，重要建筑，建筑艺术特色，保护与更新方法。 
<p class="text-left">第八章 北京（2学时） 
<p class="text-left">  本章讲述北京的城市建设史，重要的历史建筑文化遗产和园林文化遗产，北京保护与更新规划。 
<p class="text-left">第九章 城市规划与历史文化遗产规划理论与方法（2学时） 
<p class="text-left">  本章介绍城市规划与城市规划管理过程中的历史街区保护与更新的基本方法，现行的制度和法律法规。 

<p class="text-left">参考文献
<p class="text-left">1. 梁思成. 中国建筑史. 北京：生活•读书•新知三联书店，2011. 
<p class="text-left">2. 陈志华. 外国古建筑二十讲. 北京：生活•读书•新知三联书店，2011. 
<p class="text-left">3. 楼庆西. 中国古建筑二十讲. 北京：生活•读书•新知三联书店，2011. 
<p class="text-left">4. 陈志华. 西方建筑名作（古代-十九世纪）. 郑州：河南科学艺术出版社. 2000. 
<p class="text-left">5. 王其钧，郭宏峰. 图解西方古典建筑史. 北京：中国电力出版社，2008. </p>
<p class="text-left">6. 卢嘉锡 总主编，傅熹年 著. 中国科学技术史 建筑卷.北京：科学出版社，2008. 
<p class="text-left">课程教师信息
     </p>
     
</div>