<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">选修课程（已经过筛选）</h3>
        </div>
        
        <%= render "courses/filter_form" %>
        <% @@Listed_Courses = @course %>
        <%= render "courses/list_courses" %>
      </div>
    </div>
  </div>
</div>


