/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

.table{
  margin-bottom: 10px;
}

.table-striped > tbody > tr:hover >td.has_hover {
  background-color: #C0C0C0;
}

footer {
  background-color: #555;
  color: white;
  padding: 10px;
}

.body-background{
  background-image: image-url('background.jpg');
  //background-color: #DADADA;
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
}

body{
  padding-top: 50px;
  padding-bottom: 100px;
}

html {
  height: 100%;
}






