.pagination {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal-header h4{
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}


.modal-header {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}


#filter-header .modal-header{
  background-color: #C0C0C0;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

#filter-header h4{
  background-color: #C0C0C0;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

//.modal-footer{
//  background-color: #f9f9f9;
//}


#login-dp{
  min-width: 300px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
  font-size:12px
}

#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}

@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}